  <p>Someone requested to reset the password of following account:</p>
  <br />
  <p>Admin Email Address: <%= @user.email %></p>
  <p>If this was a mistake, just ignore this email and nothing will happen.</p>
  <br />
  <p>To reset your password, click reset link below:</p>
  <p><%= link_to @frontend_reset_url, @frontend_reset_url %></p>
